NEXT_PUBLIC_CSV_API_URL="https://docs.google.com/spreadsheets/d/e/2PACX-1vRb0mNHl5Gk0nJg_1EtPUupCLoo7mMvTYNN-pJ5K-RtwjRoJ0z2-mjZtVXzXCExXymYirlckabuaijc/pub?gid=1123329065&single=true&output=csv"
NEXT_PUBLIC_BG_IMAGE_1="https://mir-s3-cdn-cf.behance.net/project_modules/fs/1bd586109165195.5fce0ccce53aa.jpg"
NEXT_PUBLIC_BG_IMAGE_2="https://res.cloudinary.com/tf-lab/image/upload/restaurant/00d5b03c-4231-42e4-8028-28d0f7d32d34/6abbaea0-f9c2-4600-a24d-9cb6279579af.jpg"
NEXT_PUBLIC_BG_IMAGE_3="https://images.adsttc.com/media/images/5b22/d9cf/f197/ccfa/2700/010f/large_jpg/06075_140925-002D.jpg?1529010631"
NEXT_PUBLIC_MENU_BG_IMAGES=["https://us.steelite.com/media/catalog/category/758x458/restaurant-plates-blue-dapple.jpg", "https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80", "https://www.jtgtravel.com/wp-content/uploads/2021/12/indian-food-2021-10-21-04-03-18-utc.jpg", "https://st3.depositphotos.com/1062035/16145/i/600/depositphotos_161452498-stock-photo-boiled-octopus-with-vegetables.jpg"]
NEXT_PUBLIC_STORE_NAME="Restidy"
NEXT_PUBLIC_STORE_TITLE="Restidy"
NEXT_PUBLIC_STORE_PHONE="+34 674685241"
NEXT_PUBLIC_STORE_ADDRESS="Av. Siempreviva 123, 46117, Valencia"
NEXT_PUBLIC_STORE_HOME_SUBTITLE="Your favourite place"
NEXT_PUBLIC_STORE_HOME_TITLE="Restidy lovers"
NEXT_PUBLIC_STORE_HOME_DESCRIPTION="Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam nostrud consectetur adipiscing elit."